:root {
  --max-width: 700px;
}

#showcase {
  top: 70px;
 
}

.logo {
  width: 120px;
}

.box {
  height: 100%
}

#navbar .navbar-links ul li a {
  font-size: .75rem;
  padding: .5rem
}

#navbar .navbar-buttons {
  font-size: .5rem;
}

#showcase .showcase-items .showcase-left .main-img {
  height: 350px;
}

#showcase .showcase-items .showcase-left .testimonials p {
  font-size: .5rem;
}

#showcase .showcase-items .showcase-left .thumbnails {
  height: 30px;

}

#showcase .showcase-items .showcase-right .heading {

  font-size: 2rem;
  margin-bottom: 2.5rem;
}

#showcase .showcase-items .showcase-right>p {
  font-size: .65rem
}

#showcase .showcase-items .showcase-left .testimonials {
  width: 200px;
  right: 50%;
 
}

#showcase .showcase-items .showcase-left .testimonials small {
  font-size: .5rem;
}

#showcase .showcase-items .showcase-left {
  padding-right: 0rem;

}

#showcase .showcase-items .showcase-right input {
 padding: .35rem;
 border-radius: 3px
 

}

.form .btn {
  padding: .45rem;
  font-size: .75rem;
  border-radius: 4px;
}


#financial .financial-items .financial-left h2 {
  font-size: 1.5rem;

}

#financial .financial-items .financial-left>p {
  font-size: .5rem;
  margin-bottom: 2rem;
}

#financial .financial-items .financial-left>div,
#financial .financial-items .financial-right,
#mutual .mutual-items .mutual-left,
#mutual .mutual-items .mutual-right,
#secure .secure-items .secure-left,
#secure .secure-items .secure-right {
  height: 500px;
  padding-top: 2.5rem
}

#financial .financial-items .financial-left>div h3,
#financial .financial-items .financial-right>h3,
#mutual .mutual-items .mutual-left>h3,
#mutual .mutual-items .mutual-right>h3,
#secure .secure-items .secure-left>h3,
#secure .secure-items .secure-right>h3 {
  font-size: 1rem;
 padding: .75rem 0;
  
}

#financial .financial-items .financial-left>div p,
#financial .financial-items .financial-right>p,
#mutual .mutual-items .mutual-left>p,
#mutual .mutual-items .mutual-right>p,
#secure .secure-items .secure-left>p,
#secure .secure-items .secure-right>p {
  font-size: .65rem;
}

#financial .financial-items .financial-left div>h3+p,
#financial .financial-items .financial-right>h3+p,
#mutual .mutual-items .mutual-left>h3+p,
#mutual .mutual-items .mutual-right>h3+p,
#secure .secure-items .secure-left>p,
#secure .secure-items .secure-right>h3+p {
    font-size: .5rem;
    margin-bottom: .65rem;

}

#financial .financial-items .financial-left div>h3+p+a,
#financial .financial-items .financial-right>h3+p+a,
#mutual .mutual-items .mutual-left>h3+p+a,
#mutual .mutual-items .mutual-right>h3+p+a,
#secure .secure-items .secure-left>h3+p+a,
#secure .secure-items .secure-right>h3+a {
  font-size: .5rem;
}

#download .download-content .download-right {
  padding: .5rem
}

#download .download-content .download-right h2 {
  font-size: 1rem;
  margin-bottom: .65rem
}

#download .download-content .download-right .download-items .item-1 {
  font-size: .65rem
}

#download .download-content .download-right .download-items .item-2 div h3 {
  font-size: .95rem;
}

#download .download-content .download-right .download-items .item-2 div {
  margin-bottom: 3rem;
}

#download .download-content .download-right .download-items .item-2 div p {
  font-size: .65rem;
}

#download .download-content .download-right button {
  font-size: .5rem;
}

#download .download-content .download-right .download-items .item-1 div>div {
  height: 90px;
}

#download .download-content .download-left img {
  width: 80%;
}

#keep {
  padding-top: 3rem;

}


#keep .container>p {
  font-size: .55rem;
  margin: 1.5rem 0;
}

#keep h2 {
  font-size: 1.25rem;
}

#keep a {

  font-size: .5rem;
}

#keep .keep-items .bullet {
  height: 5px;
  width: 5px;

}

#keep .keep-items .content {
  font-size: .55rem
}

#keep .keep-items .left-item .heading-content h3,
#keep .keep-items .right-item .heading-content h3 {
  font-size: .75rem
}

#keep .keep-items .left-item,
#keep .keep-items .right-item {
  width: 40%;

}

#keep .keep-items .left-item {
  margin-right: 5rem;
}

#keep .keep-items .left-item>div,
#keep .keep-items .right-item>div {
  margin-bottom: 1.5rem;
}

#keep {
 
  background: url(../img/money.png) no-repeat center right/60% var(--primary-color);
}

#why {
  margin: 2rem 0 6rem 0;
}

#why .container>h3 {
  font-size: .5rem;
  margin-bottom: 1.5rem;

}

#why .container>h2 {
  font-size: 1rem;
}

#why .why-content {
  margin-top: 2rem;
}

#why .why-content .card-heading h2 {
  font-size: 1rem;
}

#why .why-content .card-heading {
  margin-bottom: 1rem;
}

#why .why-content .card-heading h2 span {
  font-size: .5rem;
}

#why .why-content .card-heading .rating {
  font-size: .5rem;
}
#why .why-content .card .card-body p {
  font-size: .55rem;

}

#why .why-content .card a {
  font-size: .5rem;

}

#banner {
  margin-bottom: 5rem;
}

#banner .signup-banner {
  border-radius: 20px;
  padding: 3rem
}

#banner .signup-banner h1 {
  font-size: 1rem;
 
}

#banner .signup-banner .subscribe {
  width: 300px;
border-radius: 3px;
  padding: .15rem .5rem;
}

#banner .signup-banner .subscribe button {
  padding: .5rem 1rem;
  font-size: .5rem;
  border-radius: 3px;

}

#footer .footer-content h3 {
  font-size: .75rem;
  margin-bottom: 2rem;
}

.address p {
 
  font-size: .5rem;

}

#footer .footer-content ul li {
  font-size: .65rem;
  margin-top: .75rem;

}

.socials a {
  margin-right: .5rem;
  font-size: .85rem;
}

.footer {

  font-size: .45rem;
  padding: 2rem;

}

.footer-base {
  margin-bottom: 2rem;
}